<head>
  <link rel="stylesheet" type="text/css" media="screen" href="/edit.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>


<h1>All Jobs</h1>

<ul>
<% @jobs.each do |job| %>
    <li id='job-<%= job.id %>'>
    <%= link_to job.title, job_path(job) %> at <%= job.company.name %>
    <%= link_to 'Edit', edit_job_path(job) %>
    <%= link_to 'Delete', job_path(job), method: :delete %>
    </li>
<% end %>
</ul>
