All Jobs for <strong><%= @company.name %></strong>

<ul>
<% @jobs.each do |job| %>
    <li id='job-<%= job.id %>'>
    <%= job.title %> at <%= job.company.name %>
    <%= link_to 'Edit', edit_company_job_path(@company, job) %>
    <%= link_to 'Delete', company_job_path(@company, job), method: :delete %>
    </li>
<% end %>
</ul>
