<head>
  <link rel="stylesheet" type="text/css" media="screen" href="/show.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<h1><%= @job.title.capitalize %> at <%= @job.company.name %></h1>
<%= link_to "see other #{@job.category.title} jobs", category_jobs_path(@job.category) %>

<p>Title: <%= @job.title %></p>
<br>

<p>Description: <%= @job.description %></p>
<br>

<p>Location: <%= @job.city %>
<br>

<p>Interest: <%= @job.level_of_interest %></p>
<br>

<p>City: <%= @job.city %></p>
<br>

<ul>
  <% @job.comments.each do |comment| %>
  <li><%= comment.title %></li>
  <li><%= comment.body %></li>
  <% end %>
</ul>

<h2>Add a Comment:</h2>

   <%= form_for [@job, @comment] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :body %>
    <%= f.text_field :body %>
    <%= f.submit %>
  <% end %>

