<h1><%= @job.title.capitalize %> at <%= @job.company.name %></h1>
<%= link_to "see other #{@job.category.title} jobs", category_jobs_path(@job.category) %>

<p>Title: <%= @job.title %></p>
<br>

<p>Description: <%= @job.description %></p>
<br>

<p>Location: <%= @job.city %>
<br>

<p>Interest: <%= @job.level_of_interest %></p>
<br>

<p>City: <%= @job.city %></p>
<br>
