
<h1>All Jobs for <strong><%= @company.name %></strong></h1> -->

<ul>
  <% @company.jobs.each do |job| %>
  <li><%= job.title %></li>
<% end %>
</ul>


<h2>Add a Contact:</h2>

   <%= form_for [@company, @contact] do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <%= f.label :position %>
    <%= f.text_field :position %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :company_name %>
    <%= f.text_field :company_name %>
    <%= f.submit %>
  <% end %>
